@import url(../import/import.css);

:root {
    --color-primaria-1: #d7dfff;
    --color-primaria-2: #8ea8ff;
    --color-primaria-3: #0d62ff;
    --color-primaria-4: #2f20fe;
    --color-primaria-5: #3639f4;
    --color-primaria-6: #1612f8;
    --color-neutral-9: #1d1d1d;
    --color-neutral-2: #c7cde9;
}