@import url(../import/import.css);



#equipe .section-title{
    text-align: center;
    font-size: 5rem;
    padding-bottom: 20px;
}

#p-grande{
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
    text-align: center;
}


#equipes{
    min-width: calc(100vh-91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
}

#equipes ul{
    list-style: none;
}


#turma{
    width: auto;
    height: 400%;
}

.imagem-aolado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; /* Limita a largura total */
    max-width: 1200px; /* Limita o tamanho máximo */
    background-color: #f9f9f9;
    padding: 20px;
    padding-bottom: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imagem-aolado img{
    width: 100%; /* Ajusta a largura da imagem */
    height: auto;
    object-fit: cover; /* Garante que a imagem não distorça */
    max-height: 300px; /* Limita a altura das imagens */
    border-radius: 8px;
}

.membro{
    align-items: center;
    gap: 20px;
    background-color: var(--color-primaria-2);
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 0%;
}
