@import url(../import/import.css);

header {
    width: 100%; /* Largura*/
    padding: 30px 5%;
    position: sticky;
    top: 0;
    background-color: var(--color-primaria-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex; /*Deixar um ao lado do outro*/
    align-items: center;
    justify-content: space-between;
}

#navbar .btn-default{
    color: var(--color-primaria-1);

}

.nav_logo {
    font-size: 25px;
    color: var(--color-primaria-6);
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 30px
}

#nav_list .invisivel{
    position: relative;
    right: 30px;
}

.btn-default a {
    color: var(--color-primaria-1);
    text-decoration: none;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad ;
    font-weight: 600;

}

.button_nav{
    display: flex;
    gap: 10px;
}

.btn-espacamento{
    display: flex;
    gap: 24px
}



/*esse é o risco que fica em baixo de inicio*/
.nav-item.active a {
    color: var(--color-neutral-9);
    border-bottom: 3px solid var(--color-primaria-4);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    
    #nav_list,
    #navbar .btn-default {
        display: none;
    }


    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    #mobile_menu.active  {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 15px;
    }

    #mobile_menu.active button {
        position: relative;
        top: 20px;
    }
    

    #mobile_nav_list{
        display:flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        
    }

    #mobile_menu .nav-item{
        list-style: none;
        text-align: center;
        padding: 3px;
        font-size: 1.1rem;
    }

    #mobile_nav_list .nav-list{
        list-style: none;
        text-align: center;

    }

    #mobile_menu .btn-default{
        color: var(--color-primaria-1);
        text-align: center;
        font-size: 20px;
    }

    

}

