@import url(../import/import.css);

#home {
    display: flex;
    min-height: calc(100vh-91px);
    position: relative;
}

#banner-min1,
#banner-min1 img,
.shape-min1,
.shape-min2{
    display: none;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5px;
}

#cta .title{
    font-size: 4.6rem;
    color: var(--color-neutral-9);
}

#cta .title span {
    color: var(--color-primaria-4);
}

#cta .description {
    font-size: 1.4em;
}

#cta_buttons {
    display: flex;
    gap: 24px
}

#cta_buttons a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color-neutral-2);
}

#banner {
    position: relative;
    top: 100px;
    left: 100px;
    display: flex;
    align-items: start;
    justify-content: end;
    width: 2100px;
    height: 900px;
    z-index: 2;
}

#banner img {
    height: 72%;
    width: fit-content;
}

.shape {
    background-color: var(--color-primaria-2);
    width: 80%;
    height: 90%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 20px;
    right: 0;
    z-index: 1;
    max-width: 55%;
    max-height: 100%px;
}

@media screen and (max-width: 1258px) {
    #home{
        min-height: 100%;
        padding-top: 0px;
        flex-direction: column;
    }

    #banner,
    #banner img,
    #home .shape,
    .shape-min2{
        display: none;
    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #cta .title{
        font-size: 3rem;
        color: var(--color-neutral-9);
    }

    #cta_buttons{
        padding-bottom: 70px;
    }



    .shape-min1 {
        display: block;
        background-color: var(--color-primaria-2);
        width: 60%;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40% 30% 20% 20%;
        z-index: 1;
        max-width: 1000px;
        max-height: 800px;
    }

    #banner-min1, #banner-min1 img{
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        z-index: 2;
    }

}


@media screen and (max-width: 670px) {
    
    #banner,
    #banner img,
    #home .shape,
    .shape-min1{
        display: none;
    }

    #home{
        min-height: 100%;
        padding-top: 0px;
        flex-direction: column;
    }
    
    .shape-min2 {
        display: block;
        background-color: var(--color-primaria-2);
        width:90%;
        height: 400px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40% 30% 20% 20%;
        z-index: 1;
        max-width: 1000px;
        max-height: 800px;
    }
}

