#sobre1{
    margin: 0 auto;
    padding: 0;
}

#sobre {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    min-height: 100vh;
    padding-top: 100px;
    padding: 0px; /* Ajuste o padding se necessário */
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
}

#banner2-min, #banner2-min img,
.shape2-min, .shape2-min2{
    display: none;
}

#cta-2 {
    width: 50%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0%;
    padding-left: 160px; /* Espaço entre a imagem e o texto */
}
#cta-2 .title-2{
    font-size: 4rem;
    color: var(--color-neutral-9);

    padding-top: 100px;
}

#cta-2 .sub-title2{
    font-size: 2rem;
    color: var(--color-neutral-9);
    margin-bottom: 10px;
}

#cta-2  .description {
    font-size: 1.5rem;
    margin-top: -20px;
    margin-bottom: 50px;
}

#des_list .strong-blue{
    color: var(--color-primaria-4);
    font-size: 1.5rem;
}

#cta-2 ul {
    margin-top: -20px;
    list-style: none;
}

#cta-2 li {
    font-size: 1.4rem;
    padding: 10px;
}


#banner-2 {
    width: 40%; /* Ajuste o tamanho da imagem conforme necessário */
    display: flex;
    justify-content: flex-start; /* Alinha a imagem à esquerda */
    z-index: 2;
}

#banner-2 img {
    width: 100%; /* A imagem vai ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.shape-2{
    background-color: var(--color-primaria-2);
    width: 45%;
    height: 890px;
    position: absolute;
    border-radius: 0% 40% 30% 0%;
    left: 0%;
    right: 100%;
    margin-top: px; 
    z-index: 1;
}

@media screen and (max-width: 1258px){
    #sobre{
        min-height: 100%;
        padding-top: 0px;
    }

    #banner-2,
    #banner-2 img,
    #sobre .shape-2, .shape2-min2{
        display: none;
    }

    #sobre{
        padding: 70px;
    }

    #cta-2{
        margin: 0 auto;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 160px;
        width: 100%;
        text-align:left;
        align-items: center;
    }
    #cta-2 .title-2{
        font-size: 2.4rem;
        color: var(--color-neutral-9);
        text-align: center;
    }

    #cta-2 .sub-title2{
        color: var(--color-neutral-9);
    }

    #cta-2  .description {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
    #cta-2 li {
        font-size: 1.2rem;
        padding: 10px;
    }

    #banner2-min, #banner2-min img{
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        z-index: 2;
    }

    .shape2-min {
        display: block;
        background-color: var(--color-primaria-2);
        width: 70%;
        height: 400px;
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40% 30% 20% 20%;
        z-index: 1;
        max-width: 1000px;
        max-height: 800px;
    }


}

@media screen and (max-width: 760px) {
    #sobre .shape-2, .shape2-min{
        display: none;
    }

    #cta-2{
        padding: 70px;
    }

    .shape2-min2 {
        display: block;
        background-color: var(--color-primaria-2);
        width: 90%;
        height: 350px;
        padding: 0;
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40% 30% 20% 20%;
        z-index: 1;
        max-width: 1000px;
        max-height: 400px;
    }

    #sobre{
        padding: 0;
    }
}

@media screen and (max-width: 550px) {
    #sobre .shape-2, .shape2-min{
        display: none;
    }

    #cta-2{
        padding: 70px;
    }

    .shape2-min2 {
        display: block;
        background-color: var(--color-primaria-2);
        width: 77%;
        height: 300px;
        padding: 0;
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40% 30% 20% 20%;
        z-index: 1;
        max-width: 1000px;
        max-height: 400px;
    }

    #sobre{
        padding: 0;
    }
}