#sobre {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    min-height: 100vh;
    padding: 70px; /* Ajuste o padding se necessário */
    position: relative;
    margin: 0 auto;
}

#cta-2 {
    width: 50%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0%;
    padding-left: 200px; /* Espaço entre a imagem e o texto */
}
#cta-2 .title-2{
    font-size: 4rem;
    color: var(--color-neutral-9);
}

#cta-2 .sub-title2{
    font-size: 2rem;
    color: var(--color-neutral-9);
    margin-bottom: 10px;
}

#cta-2  .description {
    font-size: 1.5rem;
    margin-top: -20px;
    margin-bottom: 50px;
}

#des_list .strong-blue{
    color: var(--color-primaria-4);
    font-size: 1.5rem;
}

#cta-2 ul {
    margin-top: -20px;
    list-style: none;
}

#cta-2 li {
    font-size: 1.4rem;
    padding: 10px;
}


#banner-2 {
    width: 40%; /* Ajuste o tamanho da imagem conforme necessário */
    display: flex;
    justify-content: flex-start; /* Alinha a imagem à esquerda */
    z-index: 2;
}

#banner-2 img {
    width: 100%; /* A imagem vai ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.shape-2{
    background-color: var(--color-primaria-2);
    width: 45%;
    height: 890px;
    position: absolute;
    border-radius: 0% 40% 30% 0%;
    left: 0%;
    right: 100%;
    margin-top: px; 
    z-index: 1;
}

@media screen and (max-width: 1258px){
    #sobre{
        min-height: 100%;
        padding-top: 0px;
    }

    #banner-2,
    #banner-2 img,
    #sobre .shape-2{
        display: none;
    }
    #cta-2{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 160px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #cta-2 .title-2{
        font-size: 3rem;
        color: var(--color-neutral-9);
    }

    #cta-2 .sub-title2{
        color: var(--color-neutral-9);
    }
}