@import url(../import/import.css);

#sobre{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    position: relative;
}

#cta-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5px;
}

#cta-2 .title-2{
    font-size: 4rem;
    color: var(--color-neutral-9);
}

#cta-2 .sub-title{
    font-size: 2rem;
    color: var(--color-neutral-9);
    margin-bottom: 10px;
}

#cta-2  .description {
    font-size: 1.3rem;
    margin-top: -20px;
    margin-bottom: 50px;
}

#des_list .strong-blue{
    color: var(--color-primaria-4);
}

#cta-2 ul {
    margin-top: -20px;
    list-style: none;
}

#cta-2 li {
    font-size: 1.2rem;
    padding: 10px;
}

#banner-2 {
    position: relative;
    bottom: 500px;
    right: 65%;
    display: flex;
    align-items: start;
    justify-content: end;
    width: 1000px;
    height: 680px;
    z-index: 2;
}

#banner-2 img {
    height: 72%;
    width: fit-content;
}

.shape-2{
    background-color: var(--color-primaria-2);
    width: 38%;
    height: 50%;
    position: absolute;
    border-radius: 0% 40% 30% 0%;
    left: 0;
    right: 50%; /* Opcional: se quiser adicionar controle sobre o deslocamento à esquerda */
    z-index: 1;
}

@media screen and (max-width: 1310px){
    #sobre{
        min-height: 100%;
        padding-top: 0px;
    }

    #banner-2,
    #banner-2 img,
    #sobre .shape-2{
        display: none;
    }
    #cta-2{
        padding-top: 150px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #cta-2 .title{
        font-size: 3rem;
        color: var(--color-neutral-9);
    }
}